/*
  place custom CSS definitions into this file to override Bootstrap
*/
body {margin: auto}

.centered {width: 1000px; margin: auto}
/*
 nav {position: fixed; width: 100%; }
 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}