<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label>Contact type</label>
                <select class="form-control" type="number" name="contact_type">
                    {foreach $contact_type as $c}
                        <option>{$c['name']}</option>
                    {/foreach}
                </select>
            </div>
            <div class="col-sm-4 form-group">
                <label>Contact</label>
                <input class="form-control" type="text" name="contact" placeholder="Contact">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>