<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <!-- Adresy -->

        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="name">Location name</label>
                <input class="form-control" type="text" name="name" placeholder="Name" value="{$formData['name']}">
            </div>
        </div>
        <div class="form-row">

            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" placeholder="City" value="{$formData['city']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" name="street_name" placeholder="Street name" value="{$formData['street_name']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" name="street_number" placeholder="Street number" value="{$formData['street_number']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" placeholder="ZIP" value="{$formData['zip']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" placeholder="Country" value="{$formData['country']}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="latitude">Latitude</label>
                <input class="form-control" type="number" name="latitude" placeholder="Latitude" value="{$formData['latitude']}">
            </div>
            <div class="col-sm-4 form-group">
                <label for="longitude">Longitude</label>
                <input class="form-control" type="number" name="longitude" placeholder="Longitude" value="{$formData['longitude']}">
            </div>

        </div>


        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>