{extends layout.latte}

{block title}Home{/block}

{block body}
    <div class="container">
        <br>
        <div class="text-center col-12 fa-border">
            <h1>APV Projekt</h1>
            <p>Martin Šebek</p>
            <p>LS 2019/2020</p>
            <p>List of persons</p>
        </div>

    </div>
{/block}