<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{$basePath}">Home</a></li>
                <li><a href="{$basePath}/persons">Persons</a></li>
                <li><a href="{$basePath}/meetings">Meetings</a></li>
                <li><a href="{$basePath}/locations">Locations</a></li>
            </ul>
        </nav>
    </header>
<div class="centered">
{include body}
</div>
</body>
</html>