{extends layout.latte}

{block title}Locations{/block}

{block body}
    <h1>Locations</h1>
    <table class="table table-hover table-striped">
        <th>Name</th>
        <th>Street name and number</th>
        <th>City</th>
        <th>ZIP</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Edit</th>

        {foreach $locations as $l}
            <tr>
                <td>{$l['name']}</td>
                <td>{$l['street_name']} {$l['street_number']}</td>
                <td>{$l['city']}</td>
                <td>{$l['zip']}</td>
                <td>{$l['country']}</td>
                <td>{$l['latitude']}</td>
                <td>{$l['longitude']}</td>
                <td>
                    <a class="btn btn-primary" href="{link location_edit}?id_location={$l['id_location']}">
                        <span class="fa fa-edit">
                            Edit
                        </span>
                    </a>
                </td>
            </tr>

        {/foreach}
    </table>
{/block}