{extends layout.latte}

{block title}Meeting detail{/block}

{block body}
    <h1>Meeting</h1>
    <table class="table table-striped">
        <tr>
            <td>Beginning</td>
            <td>{$meeting['start']}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>{$meeting['duration']}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{$meeting['description']}</td>
        </tr>
    </table>
    <h1>People</h1>
    <table class="table table-striped">
        {foreach $people as $p}
            <tr>
                <td>{$p['first_name']} {$p['last_name']}</td>
            </tr>
        {/foreach}
    </table>
{/block}