{extends layout.latte}

{block title}Meetings{/block}

{block body}
    {if isset($message)}
        <p class="alert alert-danger" role="alert">{$message}</p>
    {/if}
    <h1>Meetings</h1>
    <div class="container">
        <div class="col-lg-12">
            <a href="{link meeting_new}" class="btn btn-success btn-block">
                <span class="fa fa-plus">Add meeting</span>
            </a>
        </div>
    </div>
    <br>
    <table class="table table-hover table-striped">
        <tr>
            <th>Start</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Detail</th>
            <th>Delete</th>
        </tr>
        {foreach $meetings as $m}
        <tr>
            <td>{$m['start']}</td>
            <td>{$m['duration']}</td>
            <td>{$m['description']}</td>
            <td>
                <a class="btn btn-success" href="{link meeting_detail}?id_meeting={$m['id_meeting']}">
                        <span class="fa fa-calendar">
                            Detail
                        </span>
                </a>
            </td>
            <td>
                <form method="post" onsubmit="return confirm('Are you sure?')" action="{link meeting_delete}?id_meeting={$m['id_meeting']}">
                    <button class="btn btn-danger">
                        <span class="fa fa-trash"> Delete</span>
                    </button>
                </form>
            </td>
        </tr>
        {/foreach}
    </table>
{/block}