<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}

    <form method="post">
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="start">Start</label>
                <input class="form-control" type="date" name="start" placeholder="Start" required value="dd/mm/yyyy hh:mm">
            </div>
            <div class="col-sm-6 form-group">
                <label for="duration">Duration</label>
                <input class="form-control" type="time" name="duration" placeholder="Duration" value="hh:mm">
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" placeholder="Description">
            </div>
        </div>
        <h3>Meeting location</h3>
        <div class="form-row">

            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" required placeholder="City">
            </div>

            <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" name="street_name" required placeholder="Street name" >
            </div>

            <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" name="street_number" required placeholder="Street number" >
            </div>

            <div class="col-sm-2 form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" required placeholder="ZIP">
            </div>

            <div class="col-sm-4 form-group">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" placeholder="Country" >
            </div>
            <div class="col-sm-4 form-group">
                <label for="latitude">Latitude</label>
                <input class="form-control" type="number" name="latitude" placeholder="Latitude">
            </div>
            <div class="col-sm-4 form-group">
                <label for="longitude">Longitude</label>
                <input class="form-control" type="number" name="longitude" placeholder="Longitude">
            </div>

        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>