{extends layout.latte}

{block title}Registered persons{/block}

{block body}
    {if isset($message)}
        <p class="alert alert-danger" role="alert">{$message}</p>
    {/if}
    <h1>List of persons</h1>
    <form method="post" action="{link search_person}?search=">
        <div class="form-row">
            <div class="col-sm-10">
                <input class="form-control" type="text" name="search" placeholder="Search person">
            </div>
            <button type="submit" class="btn btn-primary col-sm-2">
                <div class="fa fa-search">
                    Search
                </div>
            </button>
        </div>
    </form>
    <br>
    <div class="container">
        <div class="col-lg-12">
            <a href="{link person_new}" class="btn btn-success btn-block">
                <span class="fa fa-plus">
                    Add person
                </span>
            </a>
        </div>
    </div>
    <br>
    <table class="table table-striped table-hover">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Nickname</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Profile</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
         {foreach $osoby as $o}
            <tr>
                <td>{$o['first_name']}</td>
                <td>{$o['last_name']}</td>
                <td>{$o['nickname']}</td>
                <td>{$o['height']}</td>
                <td>{$o['gender']}</td>
                <td>
                    <a class="btn btn-success" href="{link person_profile}?id_person={$o['id_person']}">
                        <span class="fa fa-user">
                            Profile
                        </span>
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{link person_edit}?id_person={$o['id_person']}">
                        <span class="fa fa-edit">
                            Edit
                        </span>
                    </a>
                </td>
                <td>
                    <form method="post" onsubmit="return confirm('Are you sure?')" action="{link person_delete}?id_person={$o['id_person']}">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"> Delete</span>
                        </button>
                    </form>
                </td>
            </tr>
         {/foreach}

    </table>

{/block}