{extends layout.latte}

{block title}{$profile['first_name']} {$profile['last_name']}{/block}

{block body}
    <h1>Profile</h1>
    <table class="table table-striped">
        <tr>
            <td>First name</td>
            <td>{$profile['first_name']}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{$profile['last_name']}</td>
        </tr>
        <tr>
            <td>Nickname</td>
            <td>{$profile['nickname']}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{$profile['gender']}</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>{$profile['height']}</td>
        </tr>
    </table>
    <h1>Meetings</h1>
    <table class="table table-striped table-hover">
        <th>Begin time</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Location</th>
        {foreach $meetings as $m}
            <tr>
                <td>{$m['start']}</td>
                <td>{$m['duration']}</td>
                <td>{$m['description']}</td>
                {if !empty($m['city'])}
                    <td>{$m['street_name']} {$m['street_number']}, {$m['city']} {$m['zip']} {$m['country']}</td>
                {else}
                <td>No location set</td>
                {/if}
            </tr>
        {/foreach}
    </table>
    <h1>Contacts</h1>
    <table class="table table-striped table-hover">
        <th>Contact type</th>
        <th>Contact</th>
        <th>Delete contact</th>
        {foreach $contacts as $c}
            <tr>
                <td>{$c['name']}</td>
                <td>{$c['contact']}</td>
                <td>
                    <form method="post" onsubmit="return confirm('Are you sure?')" action="{link contact_delete}?id_person={$profile['id_person']}&id_contact={$c['id_contact']}">
                        <button class="btn btn-danger">
                            <span class="fa fa-trash"> Delete</span>
                        </button>
                    </form>
                </td>
            </tr>
        {/foreach}
    </table>

    <a class="btn btn-success" href="{link contact_add}?id_person={$profile['id_person']}">
        <span class="fa fa-plus">
            Add contact
        </span>
    </a>

{/block}